server {
    listen 80;
    listen [::]:80;
    server_name ${NGINX_SERVER_NAME};

    root ${NGINX_ROOT_PATH};
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    error_page 404 /index.html;

    location = /50x.html {
        root ${NGINX_ROOT_PATH};
    }
}
